@model IEnumerable<HRDemoAdmin.Services.Models.DepartmentResponse>
@{
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 5);
}

@grid.GetHtml(
    tableStyle: "table table-bordered table-striped",
    headerStyle: "header sortable-header",
    alternatingRowStyle: "alt",
    rowStyle: "table-row",
    columns: grid.Columns(
        grid.Column("DepartmentId", "ID"),
        grid.Column("Name", format: item => new HtmlString($"<a href='./Departments/{item.DepartmentId}'>{item.Name}</a>")),
        grid.Column("Description", "Description", canSort: false),
        grid.Column(header: "Manager", format: item => item.Manager?.Email)
    ),
    footerStyle: "pagination-footer",
    mode: WebGridPagerModes.All
)