<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHRDemoReportService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11214/HRDemoReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHRDemoReportService"
                contract="HRDemoReportService.IHRDemoReportService" name="BasicHttpBinding_IHRDemoReportService" />
        </client>
    </system.serviceModel>
</configuration>